@import "./mixins";

* {
  font-family: "Kumbh Sans", Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 12px;
}

body {
  background: linear-gradient($violet, $blue) no-repeat;
  height: 100vh;
  padding: 2rem;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  position: relative;
}

h1 {
  font-size: 2.8rem;
  text-align: center;
}

.outer-container {
  padding: 2rem;
  border-radius: 2rem;
  position: absolute;
  top: 10rem;
  left: 2rem;
  right: 2rem;

  // display: flex;
  // flex-direction: column;
  text-align: center;
  background-color: #fff;
  // justify-content: center;
  box-shadow: 0 20px 80px rgba($dark-blue, 0.5);

  .img {
    position: relative;
    transform: translateY(-130px);
    height: 150px;
    // display: flex;
    // flex-direction: column;

    &__top {
      // position: absolute;
      // top: 0;
      transform: translatex(-1.25rem);
      z-index: 10;
    }
    &__bottom {
      // position: absolute;
      // top: 8rem;
      transform: translateY(-75%);
      padding: 1.5rem;
      z-index: 9;
    }
  }
}

.inner-container {
  //   transform: translateY(50%);
  //   padding: 12rem 2rem 4rem 2rem;
  color: $dark-gray;
  flex: 2;
}

.faq-container {
  margin: 1.5rem 0;
}

.faq {
  border-bottom: 1px solid $light-gray;
  padding: 1rem 0;
  line-height: 1.4;
  text-align: left;
  &:hover {
    cursor: pointer;
    .faq__question {
      font-weight: 900;
    }
  }

  &__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
  }

  &__answer {
    display: none;
    color: rgba($gray, 0.6);
    font-size: 12px;
  }
}
.faq.selected {
  .faq__question {
    font-weight: 900;
  }
  .faq__answer {
    display: block;
  }
  .arrow {
    transform: rotate(180deg);
    transition: 0.2s ease;
  }
}

.attribution {
  color: $dark-blue;
  font-size: 10px;
  text-align: center;
  margin-top: 1rem;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
}

.attribution,
.attribution a {
  color: $dark-blue;
  font-size: 10px;
  text-align: center;
  margin-top: 1rem;
}
